<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ContactAddPage</servlet-name>
        <servlet-class>kz.telephone.book.servlets.ContactAddPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactAdd</servlet-name>
        <servlet-class>kz.telephone.book.servlets.ContactAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactSearch</servlet-name>
        <servlet-class>kz.telephone.book.servlets.ContactSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactEdit</servlet-name>
        <servlet-class>kz.telephone.book.servlets.ContactEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowContact</servlet-name>
        <servlet-class>kz.telephone.book.servlets.ShowContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactDelete</servlet-name>
        <servlet-class>kz.telephone.book.servlets.ContactDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactReport</servlet-name>
        <servlet-class>kz.telephone.book.servlets.ContactReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export</servlet-name>
        <servlet-class>kz.telephone.book.servlets.Export</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonReport</servlet-name>
        <servlet-class>kz.telephone.book.servlets.CommonReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactAddPage</servlet-name>
        <url-pattern>/ContactAddPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactAdd</servlet-name>
        <url-pattern>/ContactAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactSearch</servlet-name>
        <url-pattern>/ContactSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactEdit</servlet-name>
        <url-pattern>/ContactEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowContact</servlet-name>
        <url-pattern>/ShowContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactDelete</servlet-name>
        <url-pattern>/ContactDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactReport</servlet-name>
        <url-pattern>/ContactReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export</servlet-name>
        <url-pattern>/Export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonReport</servlet-name>
        <url-pattern>/CommonReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
